@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<<<<<<< HEAD
@model OnlineStudentEnrollmentSystem.Models.UserLoginModel
=======
@model SchoolWebApplication.Models.UserLoginModel
>>>>>>> 888fb61ad308486e5a4b7694bdf6bb986f215ab4

@{
    Layout = "_LoginLayout";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-lg-6">

        <div asp-validation-summary="ModelOnly" class=""></div>
        <form asp-action="SubmitUser" asp-controller="Login" method="post" class="form-group mt-5 bg-light p-5">
            <label asp-for="@Model.UserName" class="form-label"></label>
            <input asp-for="@Model.UserName" class="form-control" placeholder="Enter your name" />
            <span asp-validation-for="@Model.UserName"></span>

            <label asp-for="@Model.Password" class="form-label">Password</label>
            <input asp-for="@Model.Password" class="form-control" placeholder="Enter password" />
            <span asp-validation-for="@Model.Password"></span>

            <div class="d-grid py-4">
                <button type="submit" class="btn btn- btn-primary">Sign-in</button>
            </div>
            <a href="@Url.Action("ForgotPassword", "Password")" class="text-primary text-center">Forgot Password?</a>

            <hr />

            <p>New to the page</p>
            <a href="@Url.Action("UserRegister","Register")" class="btn btn-lg btn-success">Create New Account</a>
        </form>
    </div>

</div>

