<<<<<<< HEAD
﻿@model OnlineStudentEnrollmentSystem.Models.DashboardModel
<div>

    <span>No Of Teachers: <b class="text-primary">@Model.TotalTeachers</b></span> | <span>No Of Students: <b class="text-primary">@Model.TotalStudents</b> </span> | <span>No Of Classes: <b class="text-primary">@Model.TotalClasses</b></span>

</div>
=======
﻿@model WebApplication1.Models.DashboardModel

<p>No Of Teachers: @Model.TotalTeachers</p>
<p>No Of Students: @Model.TotalStudents</p>
<p>No Of Classes: @Model.TotalClasses</p>
>>>>>>> 888fb61ad308486e5a4b7694bdf6bb986f215ab4
