@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<<<<<<< HEAD
@model OnlineStudentEnrollmentSystem.Models.AddStudentModel;
=======
@model WebApplication1.Models.AddStudentModel;
>>>>>>> 888fb61ad308486e5a4b7694bdf6bb986f215ab4
@{
    Layout = "_Layout";
}


<div class="row">
    <div class="col-6">
        <form method="post" asp-action="SaveChanges" asp-controller="Student">
            <div class="form-group">
                <label class="form-label" asp-for="@Model.Name"></label>
                <input class="form-control" asp-for="@Model.Name" placeholder="Enter your Name">

                <label class="form-label" asp-for="@Model.Gender"></label>
                <input class="form-control" asp-for="@Model.Gender" placeholder="Enter your gender">


<<<<<<< HEAD
                <label for="ClassId" class="form-label">Class Standard</label>
                <select asp-for="@Model.ClassId" asp-items="@Model.ClassList" class="form-select"></select>

=======
                <label asp-for="@Model.ClassId" class="form-label"></label>
                <select asp-for="@Model.ClassId" asp-items="@Model.ClassList" class="form-select"></select>
>>>>>>> 888fb61ad308486e5a4b7694bdf6bb986f215ab4
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Save Student</button>
            </div>
        </form>
    </div>
</div>